body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: #c4dfe6;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-between;
  background-color: #c4dfe6;
  .nav-content {
    height: 100%;
    max-width: 1100px;
    margin: auto;
  } img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

.nav-content {
  display: flex;
  margin-right: 50px;
}

.nav-content .login-btn {
  margin: 0 50px;
  cursor: pointer;
  margin-top: 25px;
}

.login-btn {
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
  background-color: #c4dfe6;
  border: 0;
}

/*------------------CHECK IN DASHBOARD-----------------*/

.dash-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
  h1 {
    text-align: center;
    font-size: 33px;
    background-color: #000;
    color: #01e1fe;
  } .check-in-info {
    height: 150px;
    width: 550px;
    border: solid;
    background-color: #c4dfe6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
  }
}

.hidden {
  display: none;
}

/*-----LOGIN IN-----*/

.login-form {
  border: solid;
  background-color: #c4dfe6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    font-size: 33px;
    background-color: #000;
    color: #01e1fe;
  }
  .input-field {
    margin: 10px 10px;
    .user-name,
    .password {
      border-radius: 10px;
    }
  } label {
    margin-top: 10px;
  } button {
    padding: 4px;
    border-radius: 8px;
    font-size: 15px;
    margin: 10px 10px;
  }
}

.display-box {
  border: solid;
  background-color: #c4dfe6;
  color: white;
  width: auto;
  p {
    color: black;
    font-size: 20px;
  }
}

#filteredRooms {
  display: flex;        
  flex-wrap: wrap;      
  gap: 10px;            
  padding: 15px;   
  justify-content: center;   
}

.room-display {
  background-color: #f4f4f4;
  border: 1px solid #ddd;   
  border-radius: 8px;      
  padding: 16px;            
  box-sizing: border-box;   
}

.check-in-box {
  border: solid;
  background-color: #c4dfe6;
}

.customer-box {
  display: flex;
  flex-direction: column;
  p {
    padding: 10px; 
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9; 
  } .display-costPerNight {
    background-color: #c4dfe6;
  }
}

.room-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: space-between; 
}

.room-details {
  flex: 1 1 calc(20% - 20px); 
  box-sizing: border-box; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  p {
    font-size: 15px;
  }
}

.room-details:focus {
  outline: 2px solid;
  background-color: #c4dfe6;
}

